name: ci
on:
  # We run the CI checks on any pull request updates or pushes to the main branch after PR merge.
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Fetch all tags
        run: git fetch --force --tags
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
      - name: Run Go Vet
        run: go vet ./...    
      - name: Run Go Tests
        run: go test ./... -cover -race
      - name: Build binary
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          distribution: goreleaser
          version: '~> v2'
          args: build --snapshot
      - name: Install license check tool
        run: go install github.com/google/addlicense@dc31ac9ffcca99c9457226366135701794b128c0
      - name: Check licenses
        run: addlicense -l apache -check -v -ignore '**/*.yaml' -c 'The Score Authors' ./cmd ./internal/
      - name: Build docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: false
          load: true
          tags: score-k8s:test
          build-args: |
            "VERSION=test"
      - name: Test docker image
        run: |
          docker run --rm score-k8s:test --version
          docker run -v .:/score-k8s --rm score-k8s:test init
          cat score.yaml
